<div class="users" >
  <ng-template ngFor let-user [ngForOf]="users" let-i="index">
    <div class="max-w-sm mx-auto mt-10 rounded overflow-hidden shadow-lg space-y-4">
      <img
        class="h-64 w-full object-cover object-center"
        [src]="user.avatar_url"
        alt="Random unsplash photo"
      />
      <div class="px-6">
        <div class="font-bold text-xl">{{user.login}}</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
      <div class="px-6 pb-4 space-x-2">
        <a
          [href]="user.html_url"
          target="_blank"
          rel="noreferrer"
          class="inline-block bg-red-500 rounded-full px-3 py-1 text-sm font-semibold text-white hover:bg-red-700"
        >
          #repo
        </a>
        <a
          href="https://tailwindcss.com"
          target="_blank"
          rel="noreferrer"
          class="inline-block bg-indigo-500 rounded-full px-3 py-1 text-sm font-semibold text-white hover:bg-indigo-700"
        >
          #tailwind
        </a>
        <a
          href="#"
          target="_blank"
          rel="noreferrer"
          class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 hover:bg-blue-400"
        >
          #{{user.type}}
        </a>
      </div>
    </div>
  </ng-template>
</div>
